In [9]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", 
                "Wilson High School", "Wright High School"]

In [10]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [11]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type":"District"},
                    {"High School": "Wilson", "Type":"Charter"},
                    {"High School": "Wright", "Type":"Charter"}]

In [13]:
for entry in high_school_types:
    print(entry)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [17]:
# List of high schools
high_schools_2 = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [18]:
# Add the Pandas dependency. Usually dependencies are all imported at the top of a code.
import pandas as pd

In [19]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools_2)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [21]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [22]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [23]:
# Convert the list of dictionaries into a Data Frame.
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [24]:
# Data Frames can also be created from multiple lists.
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [25]:
# Initialize an empty DataFrame.
schools_df = pd.DataFrame()

In [26]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the dataframe.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [27]:
# Skill drill add the other two lists.
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [28]:
# or you can create a dictionary of info on high schools and convert it into a dataframe
# high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
# high_schools_dict_df = pd.DataFrame(high_school_dict)

In [29]:
# can access the 3 main components of a df with:
# columns, index, values attributes

In [30]:
# Columns
#df.columns
school_df.columns
#(using school_df as the input df)

Index(['School ID', 'school_name', 'type'], dtype='object')

In [31]:
# Index
#df.index
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [32]:
# Values
#df.values
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [33]:
# Skill Drill create a list for each coloumn (ref excel screenshot from module). Then creat a dataframe
school_id_2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
school_name_2 = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
school_type_2 = ["District","District", "Charter", "District", "Charter", "Charter", "Charter", "District", "Charter","Charter","Charter","District","District","District","Charter"]

In [34]:
school_skilldrill = {"School ID": school_id_2, "School Name": school_name_2, "Type": school_type_2}
school_skilldrill_df = pd.DataFrame(school_skilldrill)
school_skilldrill_df

    School ID            School Name      Type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter

In [35]:
# finding missing data

#count() method
#count rows for each column containing data. by default "null" values not counted. 

# isnull() method
# when applied to a column, series, DataFrame, a boolean value will be returned (True = empty, False = not empty)

#notnull() method
# returns boolean true for rows with data and False for empty rows. opposite to isnull().

In [36]:
# 4.5.2 missing data
# NaN means Not a Number and =/= 0

#options

# 1. do nothing
    # NaN s will not be considered in sums or averages (same as excel file). in this instance-- no impact.
    # but if we * or / with an NaN, the answer will be NaN. can cause problems if we need this answer for future calcs.

#2. drop the row
    # removes all data in the row
    # can cause problems later if there's data we need in the row for later.
    # to drop a row use .dropna() method
    # IMPORTANT: 
        # Dropping rows can affect the story we are trying to tell with the data.
        # Before removing rows with NaNs ask two key questions: 
            # 1. How much data would be removed if NaNs were dropped?
            # 2. How would this impact the analysis?

# 3. Fill in the row
    # fill NaN with a value.
        #IMPORTANT:
            # Filling in an empty row must be used with caution. e.g. filling in a row with "0"
            # can impact arithmetic calculations.
            # If you choose to fill in the value must be considered for all downstream calculations you want to perform.
    #In Pandas you use .fillna() method 
        #if you want to fill all NaN rows with "0", df.fillna(0)

In [37]:
# 4.5.3
# data types
# can check in Pandas library with df.dtypes attribute on DataFrame. 
# can also perform on a single column 
    # df.column.dtype (without spaces in column name e.g school_name)
    # df["column name"].dtype (space in the column name e.g "School Name")

In [38]:
#4.5.4
# cleaning data
# best practice to make a new ipynb file or copy the analysis nb and name it <name>_copy
#if you do the testing in the og notebook you risk changing the code of the original file which may cause errors
# then add back into og

#tolist() method
# using on the student_name column will add all the names to a list

#split()
# theres a space between the prefix, firstname and lastname
# can use split() to separate on the whitespace
# if split name we can count the length of each name
# a student with only 1st and last will only have 2
# can check all 3+ for the error names (leave jr, II,III etc)

# Get all the prefixes
# iterate through the students_to_fix list 
# determine if the length of the prefix (first item in the list after using split()) is <= 4
    # 4 as upper limit bc the longest prefix is "miss"
    # can use len(<name>.split()[i]) to get the length of prefix (or any substring)
    # same for suffix
    #get unique names with set()
        # set(list) returns all unique items in list in alphabetical order if strings.

In [41]:
# 4.5.5 remove strings
# strip() Method
# removes anything inside the parentheses
# if you put "mrs." any combo of m r and s will be removed

# replace() method
# can replace an "old" phrase or string with a new one inside the parenteses
# e.g to replace  "Dr." with an empty string use replace(Dr.", "")
# can only be used on python strings
    # use str with replace to convert object to a string (.str.replace())

# replace "Dr." with an empty string
name = "Dr. Linda Santiago"
name.replace("Dr. ", "")

'Linda Santiago'

In [ ]:
# 4.5.6 replace substrings
# instead of writing a replace code for each substring (time-consuming)
    # Declare a list named prefixes_suffixes that holds the common prefixes and suffixes as strings.
    # Iterate through this list with a for loop.
    # For each item in the list, use the replace() method on the student_name column.